<!doctype html>  
<html lang="en" ng-app="tasteAngulajs">
  <head>
    <meta charset="utf-8">
    
    <title>AngularJS Essentials: Javascript framework for superheroes</title>

    <meta name="description" content="A step-by-step presentaion on AngularJS">
    <meta name="author" content="Leonardo Zizzamia | @zizzamia">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/protractor.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
    	document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <h1 style="margin: 50px 0 .3em">AngularJS Essentials</h1>
          <h3 style="font-size:1.2em;margin-bottom:2em">Javascript framework for superheroes</h3>
          <p>
            <a href="https://github.com/zizzamia">@zizzamia</a>
          </p>
        </section>


        <section>
          <h2 class="slide-header"
          style="font-size:3em;margin-top: 50px">Useful Directives</h2>
        </section>


        <section ng-controller="tasteController">
          <h2><code>ngClass</code></h2>
          <pre ng-non-bindable><code class="html">&lt;div ng-controller="tasteController"&gt;
  &lt;span ng-class="{uppercase: uppercase, green: success, tomato: error}"&gt;Map Syntax&lt;/span&gt;
  &lt;span ng-class="[uppercaseClass, successClass]"&gt; - Array Syntax - &lt;/span&gt;
  &lt;span ng-class="getMyClass()"&gt;Callback Syntax&lt;/span&gt;
&lt;/div&gt;</code></pre>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs', [])
.controller('tasteController', function($scope) {
  $scope.uppercaseClass = 'text-uppercase';
  $scope.successClass = 'green';
  $scope.getMyClass = function () {
    return ['uppercase', 'red'];
  }
});</code></pre>
          <span ng-class="{uppercase: uppercase, green: success, tomato: error}">Map Syntax</span>
          <span ng-class="[uppercaseClass, successClass]"> - Array Syntax - </span>
          <span ng-class="getMyClass()">Callback Syntax</span><br />
          <input type="checkbox" ng-model="uppercase"> uppercase 
          <input type="checkbox" ng-model="success"> success 
          <input type="checkbox" ng-model="error"> error
        </section>


        <section>
          <h2><code>ngIf</code></h2>
          <pre ng-non-bindable><code class="html">Click me: &lt;input type="checkbox" ng-model="checked" ng-init="checked=true" /&gt;&lt;br /&gt;
&lt;span ng-if="checked"&gt;
  I'm removed when the checkbox is unchecked.
&lt;/span&gt;</code></pre>
          Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /><br/>
          <span ng-if="checked" class="animate-if">
            I'm removed when the checkbox is unchecked.
          </span>
        </section>


        <section>
          <h2><code>ngRepeat</code></h2>
          <ul>
            <li>$index</li>
            <li>$first</li>
            <li>$middle</li>
            <li>$last</li>
            <li>$even</li>
            <li>$odd</li>
          </ul>
        </section>


        <section>
          <h2 class="slide-header"
          style="font-size:3em;margin-top: 50px">Creating Filters</h2>
        </section>

        <section>
          <h2><code>angular.filter</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .filter('helloWorld', function () {
    return function (value) {
      return 'Hello ' + value;
    }
  })</code></pre>
        </section>


        <section>
          <h3>Tasty lab</h3>
          <p>Write a custom filter<p>
        </section>


        <section>
          <h2 class="slide-header"
          style="font-size:3em;margin-top: 50px">Scope and Controller</h2>
        </section>


        <section>
          <h2><code>watch</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .controller('tasteCtrl', function () {
    $scope.$watch(…, …);

    $scope.$watchCollection(…, …);

    $scope.$watch(…, …, true);
  })</code></pre>
        </section>


        <section>
          <h2 class="slide-header"
          style="font-size:3em;margin-top: 50px">Creating Directives</h2>
        </section>


        <section>
          <h2><code>restrict</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .directive('tweet', function(){
    return {
      restrict: 'E'
    };
  })</code></pre>
        </section>


        <section>
          <h2><code>template</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .directive('tweet', function(){
    return {
      restrict: 'E',
      template: '&lt;div class="tweet"&gt;&lt;/div&gt;'
    };
  })</code></pre>
        </section>


        <section>
          <h2><code>templateUrl</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .directive('tweet', function(){
    return {
      restrict: 'A',
      templateUrl: 'my-template.html'
    };
  })</code></pre>
        </section>


        <section>
          <h3>Tasty lab</h3>
          <p>Basic Directive<p>
        </section> 


        <section>
          <h2><code>angular.element</code></h2>
        </section>


        <section>
          <h2><code>link</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .directive('tweet', function(){
    return {
      restrict: 'A',
      templateUrl: 'my-template.html',
      link: function(scope, element, attrs) {
      }
    };
  })</code></pre>
        </section>


        <section>
          <h3>Tasty lab</h3>
          <p>Add some action to the directive by using `link`<p>
        </section> 


        <section>
          <h2><code>scope</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .directive('tweet', function(){
    return {
      restrict: 'A',
      scope: true,
      templateUrl: 'my-template.html',
      link: function(scope, element, attrs) {
      }
    };
  })</code></pre>
        </section>


        <section>
          <h2>Isolate scope</h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .directive('tweet', function(){
    return {
      restrict: 'A',
      scope: {
        'data': '=',
        'removeTweet': '&remove',
        'removeButtonColor': '@'
      },
      template: '&lt;div class="tweet"&gt;'+
      '  &lt;div class="tweet-content"&gt;'+
      '    {{ data.text }}'+
      '    &lt;button type="button" class="btn btn-default btn-xs"&gt;'+
      '      &lt;span class="fa fa-remove {{ removeButtonColor }}" '+
      '      ng-click="removeTweet($index)"&gt;&lt;/span&gt;'+
      '    &lt;/button&gt;'+
      '  &lt;/div&gt;'+
      '&lt;/div&gt;'
    };
  })</code></pre>
        </section>


        <section>
          <h3>Tasty lab</h3>
          <p>Directive with isolate scope<p>
        </section>


        <section>
          <h2><code>transclude</code> & <code>replace</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .directive('tweetsContainer', function(timelineAPI){
    return {
      restrict: 'E',
      scope: true,
      replace: true,
      template: '&lt;div class="list-group timeline" ng-transclude&gt;'+
      '&lt;/div&gt;',
      transclude: true
    };
  })</code></pre>
        </section>


        <section>
          <h3>Tasty lab</h3>
          <p>Directive that wraps arbitrary content<p>
        </section> 


        <section>
          <h2><code>controller</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .directive('timeline', function(timelineAPI){
    return {
      restrict: 'A',
      scope: true,
      controller: function($scope) {
        $scope.listTweets = [];
        this.getTimeline = function () {
          $scope.listTweets = timelineAPI.get();
        };
        this.getTimeline(); 
      }
    };
  })</code></pre>
        </section>


        <section>
          <h3>Tasty lab</h3>
          <p>Write a directive that expose an API to other directives<p>
        </section> 


        <section>
          <h2 class="slide-header"
          style="font-size:3em;margin-top: 50px">Providers</h2>
        </section>


        <section>
          <h2><code>provider</code></h2>
          <pre ng-non-bindable><code class="javascript">angular.module('tasteAngulajs.filters', [])
  .provider('timelineAPI', function () {
    var username = '';
    return {
      setUsername: function (value) {
        username = value
      },
      $get: function () {
        var listTweets = [
          { 'username': username, 'text': 'Ciao', 'timestamp': 1410474730056 },
          { 'username': username, 'text': 'Ciao due', 'timestamp': 1410474617870 }
        ];
        return {
          'get': function () {
            return listTweets;
          }, ...
        };
      }
    }
  })</code></pre>
        </section>


        <section>
          <h2><code>Providers</code> <code>Factory</code> <code>Service</code></h2>
          <a href="http://stackoverflow.com/questions/15666048/service-vs-provider-vs-factory">http://stackoverflow.com/questions/15666048/service-vs-provider-vs-factory</a>
        </section>


        <section>
          <h3>Tasty lab</h3>
          <p>Implement a provider<p>
        </section> 


        <section>
          <h2 class="slide-header"
          style="font-size:3em;margin-top: 50px">ngAnnotate</h2>
          <br />
          <br />
          <a href="https://github.com/olov/ng-annotate">
            https://github.com/olov/ng-annotate
          </a>
        </section>


        <section>
          <h2 class="slide-header"
          style="font-size:3em;margin-top: 50px">#ngTasty</h2>
          <a href="http://go/ngTasty" target="_blank">go/ngTasty</a>
          <br />
          <br />
          <p>A lightweight, flexible, and tasty collection of reusable UI 
            components for AngularJS, like grandma used to make.</p>
        </section>


        <section>
          <h2 class="slide-header">Learning Resources</h2>
          <ul>
            <li>
              <a href="https://github.com/Zizzamia/angularjs-essentials" target="_blank">
                zizzamia.github.io/angularjs-essentials
              </a>
            </li>
            <li>
              <a href="https://docs.angularjs.org/guide" target="_blank">
                docs.angularjs.org/guide
              </a>
            </li>
            <li>
              <a href="https://docs.angularjs.org/api" target="_blank">
                docs.angularjs.org/api
              </a>
            </li>
            <li>
              <a href="https://egghead.io/technologies/angularjs?order=ASC" target="_blank">
                egghead.io
              </a>
            </li>
          </ul>
        </section>


        <section>
          <h2 class="slide-header">Who follow</h2>
          <ul>
            <li>
              <a href="https://twitter.com/mhevery" target="_blank">@mhevery</a>
            </li>
            <li>
              <a href="https://twitter.com/IgorMinar" target="_blank">@IgorMinar</a>
            </li>
            <li>
              <a href="https://twitter.com/bradlygreen" target="_blank">@bradlygreen</a>
            </li>
            <li>
              <a href="https://twitter.com/toddmotto" target="_blank">@toddmotto</a>
            </li>
            <li>
              <a href="https://twitter.com/briantford" target="_blank">@briantford</a>
            </li>
            <li>
              <a href="https://twitter.com/ngconf" target="_blank">@ngconf</a>
            </li>
            <li>
              <a href="https://twitter.com/SomeJulie" target="_blank">@SomeJulie</a>
            </li>
          </ul>
        </section>


        <section>
          <img src="img/angularjs-logo.png" height="300" style="border:none;box-shadow:none" />
          <h3 style="font-size:1.7em;margin-bottom:2em">Remember, 
          with great power, comes great responsibility.</h3>
        </section>


        <section>
          <h3 style="font-size:3em;margin-top:30px;margin-bottom:.5em">Thank you :)</h3>
          <p style="font-size:2em; margin-bottom: 2em">
            <a href="https://github.com/zizzamia">@zizzamia</a>
          </p>
        </section>
      </div> 
    </div>

    <iframe src="http://ghbtns.com/github-btn.html?user=zizzamia&repo=angularjs-essentials&type=watch&count=true" 
    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20" 
    style="position: absolute; top: 20px; left: 20px; z-index: 9999"></iframe>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>
      var d = document; 
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      	controls: true,
      	progress: true,
      	history: true,
      	rollingLinks: false,
      	
      	theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      	transition: 'fade', // default/cube/page/concave/linear(2d)
      	mouseWheel : false,

      	// Optional libraries used to extend on reveal.js
      	dependencies: [
      		{ src: 'lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
      		{ src: 'lib/js/classList.js', condition: function() { return !d.body.classList; } },
      		{ src: 'lib/js/showdown.js', condition: function() { return !!d.querySelector( '[data-markdown]' ); } },
      		{ src: 'lib/js/data-markdown.js', condition: function() { return !!d.querySelector( '[data-markdown]' ); } },
      		{ src: 'plugin/zoom-js/zoom.js', condition: function() { return !!d.body.classList; } },
      		{ src: '/socket.io/socket.io.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
      		{ src: 'plugin/speakernotes/client.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } }
      	]
      });
    </script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-tasty/ng-tasty-tpls.min.js"></script>
    <script src="js/zepto.min.js"></script>
    <script>
      angular.module('tasteAngulajs', ['ngTasty'])
      .filter('reverse', function() {
        return function (input) {
          if (!input) {
            return '';
          }
          return input.split('').reverse().join('');
        }
      })
      .controller('tasteController', function($scope) {
        $scope.uppercaseClass = 'text-uppercase';
        $scope.successClass = 'green';
        $scope.getMyClass = function () {
          return ['uppercase', 'tomato'];
        }
      })
      .controller('awesomeController', function($scope) {
        
      });
    </script>
  </body>
</html>
