<!DOCTYPE html>
<html ng-app="tasteAngulajs">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body class="container" ng-controller="tasteController">

  <header>
    <nav>
      <div class="inner">
        <img src="../assets/twitter_logo_blue.png" height="20" />
      </div>
    </nav>
  </header>

  <div timeline class="content">
    <tweet-box write="writeTweet()"></tweet-box>
    <tweets-container>
      <tweet data="tweet" remove="removeTweet($index)" 
      ng-repeat="tweet in listTweets"></tweet>
    </tweets-container>
  </div>

  <footer>
    <p>
      A tasty beginning Web Dev with 
      <a href="http://angularjs.org/" target="_blank">AngularJS</a> by 
      <a href="https://twitter.com/" target="_blank">@zizzamia</a>
    </p>
    <code>ng-class</code>
  </footer>
          
  <script>
    angular.module('tasteAngulajs', [
      'tasteAngulajs.api',
      'tasteAngulajs.timeline',
      'tasteAngulajs.filters',
      'tasteAngulajs.controllers'
    ])
    .config(function (timelineAPIProvider) {
      timelineAPIProvider.setUsername('zizzamia');
    })
    .constant('placeholder', {
      'insertTweet': 'Che c\'e\' di nuovo?'
    })


    angular.module('tasteAngulajs.filters', [])
    .filter('fromNow', function () {
      return function (value) {
        return moment(value).fromNow();
      }
    })


    angular.module('tasteAngulajs.api', [])
    .provider('timelineAPI', function () {
      var username = '';
      return {
        setUsername: function (value) {
          username = value
        },
        $get: function () {
          var listTweets = [
            { 'username': username, 'text': 'Ciao', 'timestamp': 1410474730056 },
            { 'username': username, 'text': 'Ciao due', 'timestamp': 1410474617870 }
          ];
          return {
            'get': function () {
              return listTweets;
            },
            'create': function (text) {
              var tweet = {
                'username': username,
                'text': text,
                'timestamp': Date.now()
              };
              listTweets.splice(0, 0, tweet);
            },
            'remove': function (index) {

            }
          };
        }
      }
    })


    angular.module('tasteAngulajs.timeline', [])
    .directive('timeline', function(timelineAPI){
      return {
        restrict: 'A',
        scope: true,
        controller: function($scope) {
          $scope.listTweets = [];
          this.getTimeline = function () {
            $scope.listTweets = timelineAPI.get();
          };
          this.getTimeline(); 
        }
      };
    })
    .directive('tweetBox', function(timelineAPI, placeholder){
      return {
        restrict: 'E',
        scope: true,
        require: '^timeline',
        template: '<div class="timeline-tweet-box">'+
        '  <div class="home-tweet-box">'+
        '    <img src="https://pbs.twimg.com/profile_images/455960725656059905/UhxENS0I_normal.jpeg" alt="">'+
        '    <div ng-if="!isOpenBox" ng-click="openBox()">'+
        '      <input class="form-control" placeholder="{{ placeholder.insertTweet }}" />'+
        '    </div>'+
        '    <div ng-if="isOpenBox">'+
        '      <textarea ng-model="tweet.text" class="form-control" rows="3"></textarea>'+
        '      <button type="button" class="btn btn-info btn-sm" '+
        '      ng-click="writeTweet()">Tweet</button>'+
        '    </div>'+
        '  </div>'+
        '</div>',
        link: function(scope, element, attrs, timeline) {
          scope.tweet = {};
          scope.isOpenBox = false;
          scope.placeholder = placeholder;

          scope.openBox = function () {
            scope.isOpenBox = true;
          };

          scope.writeTweet = function () {
            timelineAPI.create(scope.tweet.text);
            scope.tweet = {};
            scope.isOpenBox = false;
            timeline.getTimeline();
          };
        }
      };
    })
    .directive('tweetsContainer', function(timelineAPI){
      return {
        restrict: 'E',
        scope: true,
        replace: true,
        template: '<div class="list-group timeline" ng-transclude>'+
        '</div>',
        transclude: true
      };
    })
    .directive('tweet', function(){
      return {
        restrict: 'E',
        scope: {
          'data': '=',
          'removeTweet': '&remove'
        },
        template: '<div class="tweet">'+
        '  <div class="tweet-content">'+
        '    <img src="https://pbs.twimg.com/profile_images/455960725656059905/UhxENS0I_normal.jpeg" alt="">'+
        '    <div class="header">'+
        '     {{ data.username }}'+
        '     <i class="time">{{ data.timestamp | fromNow }}</i>'+
        '    </div>'+
        '    <p>'+
        '      {{ data.text }}'+
        '      <button type="button" class="btn btn-default btn-xs">'+
        '        <span class="fa fa-remove" ng-click="removeTweet($index)"></span>'+
        '      </button>'+
        '    </p>'+
        '  </div>'+
        '</div>',
        link: function(scope, element, attrs) {
        }
      };
    })


    angular.module('tasteAngulajs.controllers', [])
    .controller('tasteController', function($scope, timelineAPI) {
      $scope.removeTweet = function (index) {
        timelineAPI.remove(index);
        $scope.listTweets = timelineAPI.get();
      };
    });
  </script>
</body>
</html>